article {
	font-size: 17px;
	line-height: 1.5;
	overflow: hidden;
	word-break: break-all;
	
	h2, h3, h4, h5, h6 {
		line-height: inherit;
		margin: 1.2em 0 0.5em 0;
	}
	
	h2 { font-size: 140%; }
	h3 { font-size: 120%; }
	h4 { font-size: 100%; }
	h5 { font-size: 100%; }
	h6 { font-size: 100%; }
	
	li {
		line-height: inherit;
	}
	
	p {
		margin: 0.4em 0;
	}
	
	p + p {
		margin-top: 1em;
	}
	
	p, li {
		> code {
			color: inherit;
			// white-space: nowrap;
			font-size: 0.74em;
			padding: 0.12em 0.5em;
			margin-top: -0.1em;
		}
	}
	
	h1, h2, h3, h4, h5, h6 {
		code {
			font-weight: bold;
			font-size: inherit;
			color: inherit;
			padding: 0;
			margin: 0;
			border: none;
			background-color: transparent;
		}
	}
	
	pre {
		
		padding: 0.5em 1em;
		font-size: 60%;
		overflow-x: auto;
		word-wrap: normal;
		
		code {
			white-space: pre;
			tab-size: 4;
		}
	}
	
	> header {
		position: relative;
		padding-top: 1.7em;
		margin-bottom: 1.5em;
		
		h1, p {
			margin: 0;
		}
		
		time {
			color: #aaa;
		}
		
		.meta {
			text-transform: uppercase;
			position: absolute;
			top: 0;
			
			.author {
				font-size: 60%;
				margin-left: 0.5em;
				
				a {
					margin-left: 0.3em;
				}
			}
		}
		
		.tags {
			margin-top: 0.2em;
			
			.label {
				background-color: #aaa;
				opacity: 0.8;
				
				&:hover {
					opacity: 1;
				}
			}
		}
	}
	
	> footer {
		margin-top: 2em;
		
		.meta {
			margin: 1em 0;
		}
	}
	
	.tips {
		@extend .alert;
		@extend .alert-block;
		@extend .alert-info;
	}
	
	.more {
		@extend .btn;
		background-color: #F4F4F4;
		background-image: none;
		opacity: 0.85;
		
		&:hover {
			opacity: 1;
		}
	}
	
	.highlight {
		pre {
			margin: 0;
		}
		
		.code {
			width: 100%;
		}
		
		.line-numbers {
			.line-number {
				white-space: nowrap;
			}
		}
		
		.code {
			.hll { background-color: #ffffcc }
			.c { color: #008000 } /* Comment */
			.err { border: 1px solid #FF0000 } /* Error */
			.k { color: #0000ff } /* Keyword */
			.cm { color: #008000 } /* Comment.Multiline */
			.cp { color: #0000ff } /* Comment.Preproc */
			.c1 { color: #008000 } /* Comment.Single */
			.cs { color: #008000 } /* Comment.Special */
			.ge { font-style: italic } /* Generic.Emph */
			.gh { font-weight: bold } /* Generic.Heading */
			.gp { font-weight: bold } /* Generic.Prompt */
			.gs { font-weight: bold } /* Generic.Strong */
			.gu { font-weight: bold } /* Generic.Subheading */
			.kc { color: #0000ff } /* Keyword.Constant */
			.kd { color: #0000ff } /* Keyword.Declaration */
			.kn { color: #0000ff } /* Keyword.Namespace */
			.kp { color: #0000ff } /* Keyword.Pseudo */
			.kr { color: #0000ff } /* Keyword.Reserved */
			.kt { color: #2b91af } /* Keyword.Type */
			.s { color: #a31515 } /* Literal.String */
			.nc { color: #2b91af } /* Name.Class */
			.ow { color: #0000ff } /* Operator.Word */
			.sb { color: #a31515 } /* Literal.String.Backtick */
			.sc { color: #a31515 } /* Literal.String.Char */
			.sd { color: #a31515 } /* Literal.String.Doc */
			.s2 { color: #a31515 } /* Literal.String.Double */
			.se { color: #a31515 } /* Literal.String.Escape */
			.sh { color: #a31515 } /* Literal.String.Heredoc */
			.si { color: #a31515 } /* Literal.String.Interpol */
			.sx { color: #a31515 } /* Literal.String.Other */
			.sr { color: #a31515 } /* Literal.String.Regex */
			.s1 { color: #a31515 } /* Literal.String.Single */
			.ss { color: #a31515 } /* Literal.String.Symbol */
		}
	}
}