<!DOCTYPE html>
<html>
{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
	
	{{ foobar }}
	
	{% include header.html %}
	
	<div class="container">
		{% if content_for_sidebar %}
			<div class="row">
				<div class="span9">
					{{ content }}
				</div>
				<div class="span3">
					{{ content_for_sidebar }}
				</div>
			</div>
		{% else %}
			{{ content }}
		{% endif %}
	</div>
	
	<footer role="contentinfo">
		<div class="container">
			{% include footer.html %}
		</div>
	</footer>
	
	{% include after_footer.html %}
</body>
</html>

