// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much



article {
	table {
		margin-bottom: 1em;
		background: image-url('noise.png');
		border-collapse: separate;
		@include border-radius(.3em);
		border: 1px solid #E0E0E0;
		
		td, th {
			padding: 0.2em 0.5em;
			border: 1px solid #E0E0E0;
			border-bottom: none;
			border-right: none;
			
			&:first-child {
				border-left: none;
			}
		}
		
		thead tr, > tr {
			&:first-child {
				td, th {
					border-top: none;
				}
			}
		}
	}
	
	p, li {
		pre > code {
			color: inherit;
		}
		
		> code {
			white-space: nowrap;
		}
	}
}